*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    
}

body{
    background-image: url('./images/home/background-home-desktop.jpg');
    background-size: cover;
}

@media (max-width: 1150px) {
    body{
        background-image: url('./images/home/background-home-tablet.jpg');
    }
}